@charset "UTF-8";
/* Create with Gulp + SCSS on windows */
/* ... Pu Yi Yuan 法雨山普宜苑官方網站 ... */
/*
@media (orientation:portrait){}
@media (orientation:landscape){}
*/
@media (max-width: 767.98px) {
  #pingForRwd p {
    float: right; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  #pingForRwd p {
    float: right; } }

@media (min-width: 768px) and (max-width: 1199.98px) {
  #pingForRwd p {
    float: right; } }
