@charset "utf-8";
/* Create with Gulp + SCSS on windows */
/* ... Pu Yi Yuan 法雨山普宜苑官方網站 ... */
@import '_mixins.scss';
@import '_extends.scss';

.main{
	.cover{
		&:before{
			@extend %valignBefore;
		}
		height: calc(100vh - 60px);

		.ctx{
			@extend %valignDo;
			img{
				width: auto;
				max-width: 80%;
				height: auto;
			}
			h2{
				@include fontSize("77pt");
			}
			p{
				@include fontSize("20pt");
			}
			a{
				
			}
		}
	}
	footer{
		&:before{
			@extend %valignBefore;
		}
		height: 60px;
		.box{
			@extend %valignDo;
			@include fontSize("13pt");
			*{
				
			}
			.pc-ignore{
				display: none;
			}
		}
	}
}